body
  font-family: 'Roboto', sans-serif
  @media #{$small-only}
    font-size: 14px

.row.columns-left
  .columns
    float: left !important

.regular
  font-size: 1em
  color: $blueGrey600
.regular-bold
  font-size: 1em
  +bold
.smaller
  font-size: 0.875em
.smaller-medium
  font-size: 0.875em
  font-weight: 500
.larger
  font-size: 1.125em
.large
  font-size: 1.25em

.main-title
  font-size: 1.75em
  color: $blueGrey800
  text-transform: uppercase
  text-align: center
  +bold
  span
    color: $green
.main-subtitle
  @extend .georgia-italic
  text-align: center
  width: 400px
  max-width: 90%
  margin: 0 auto

.georgia-italic
  font-family: Georgia
  font-size: 0.875em
  color: $blueGrey400
  font-style: italic

.img-container
  width: 100%
  background-position: center
  background-size: cover
.img-background
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-position: center
  background-size: cover

.clearfix
  +clearfix
  .floated
    float: left
  .floated-right
    float: right

a
  display: block
  cursor: pointer
  +transition(0.15s)
  svg
    +transition(0.15s)
  &:hover
    color: $green
    svg
      fill: $green

.social-link
  display: inline-block
  margin: 0 5px
  svg
    width: 30px
    height: 30px

.shadow
  box-shadow: 0 5px 30px rgba(0,0,0,0.1)

.inner-indent
  padding: 50px 0 50px
  @media #{$small-only}
  @media #{$medium-only}
    padding: 30px 0 30px