.news-container
  .inner-indent
    padding: 50px 0 0
    @media #{$small-only}
      padding: 25px 0 0
  .news-block-container
    position: relative
  .new-block
    position: relative
    height: 420px
    margin-bottom: 30px
    @media #{$small-only}
      height: auto
      margin-bottom: 50px
    @media #{$large-only}
      height: 380px
    .icon
      position: absolute
      top: 1em
      left: 1em
      width: 2.25em
      height: 2.25em
      background: $green
      border-radius: 2px
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      z-index: 1
      +transition(0.2s)
      svg
        +transition(0.2s)
        margin: auto
        width: 1.625em
        height: 1.625em
        fill: white
    .line
      content: ''
      position: absolute
      width: 100%
      height: 5px
      left: 0
      bottom: 0
      background: $green
      opacity: 0
      +transition(0.2s)
    .img-container
      position: relative
      width: 100%
      &:before
        content: ''
        padding-bottom: 70%
        display: block
        @media #{$small-only}
          padding-bottom: 50%
        @media #{$medium-only}
          padding-bottom: 60%
    .date
      margin: 10px 0
    .new-title
      @extend .regular-bold
      color: $blueGrey800
      text-transform: uppercase
      margin: 10px 0
      line-height: 1.25
      +transition(0.15s)
    .smaller
      color: $blueGrey600
      @media #{$small-only}
        display: none
    &:hover
      .icon
        background: white
        box-shadow: 0 2px 3px rgba(0,0,0,0.1)
        svg
          fill: $green
      .line
        opacity: 1
      .new-title
        color: $green

  a.georgia-italic
    color: $blueGrey800
    text-align: center
    &:hover
      color: $green

.news-all-tag-filter-container
  padding: 30px 0 0
  .news-all-tag
    list-style: none
    li.tag
      display: inline-block
      color: $blueGrey300
      cursor: pointer
      padding: 10px
      +transition(0.2s)
      &:first-child
        padding: 10px 10px 10px 0
      svg
        padding-left: 5px
      &:hover, &.active
        color: $green
        font-weight: 500
  .tag-search
    position: relative
    width: 250px
    select
      position: relative
      width: 100%
    .icon-search
      position: absolute
      top: 12px
      left: -24px
      width: 14px
      height: 14px
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      svg
        margin: auto
        width: 100%
        height: 100%
        fill: $blueGrey400
