.news-container
  .news-block-container
    position: relative
  .new-block
    position: relative
    height: 450px
    .icon
      position: absolute
      top: 1em
      left: 1em
      width: 2.25em
      height: 2.25em
      background: $green
      border-radius: 2px
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      svg
        margin: auto
        width: 1.625em
        height: 1.625em
        fill: white
    .line
      content: ''
      position: absolute
      width: 100%
      height: 5px
      left: 0
      bottom: 0
      background: $green
      opacity: 0
      +transition(0.2s)
    .img-container
      height: 250px
    .date
      margin: 10px 0
    .new-title
      @extend .regular-bold
      color: $blueGrey800
      text-transform: uppercase
      margin: 10px 0
      line-height: 1.25
      +transition(0.15s)
    .smaller
      color: $blueGrey600
    &:hover
      .line
        opacity: 1
      .new-title
        color: $green

  a.georgia-italic
    color: $blueGrey800
    text-align: center
    &:hover
      color: $green