.scheme-wrapper
  margin: 2em 0
  border: 1px solid $blueGrey100
  padding: 1em
  @media #{$small-only}
    padding: 0
    border: 0
  @media #{$xxlarge-up}
    padding: 2em
  .desktop
    @media #{$small-only}
      display: none
  .mobile
    @media #{$medium-up}
      display: none
  .secondary-title
    text-align: left

  .block-title
    color: $blueGrey300
    font-size: 12px
    text-transform: uppercase
    margin-top: 3em

  .terminal-link
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 1em 0
    .terminal-icon
      width: 40px
      height: 40px
      box-shadow: 0 2px 5px rgba(0,0,0,0.3)
    .smaller-medium
      color: $blueGrey800
      line-height: 1.25
      margin-left: 1em
      +transition(0.2s)
  a.terminal-link
    &:hover
      .smaller-medium
        color: $green

  .scheme-container
    position: relative
    width: 100%
    svg
      width: 100%
      height: auto
      .link
        cursor: pointer
        .hover-block
          opacity: 0
          +transition(0.1s)
        &:hover
          .hover-block
            opacity: 1
    @media #{$small-only}
      margin-top: 1em

  .float-left
    @media #{$large-up}
      float: left !important
  .float-right
    @media #{$large-up}
      float: right !important

  .scheme-action-buttons
    @media #{$medium-up}
      text-align: right
    @media #{$small-only}
      float: none !important

  .download-pdf
    border: 1px solid $blueGrey100
    padding: 1em
    margin-top: 2em
    .floated
      padding: 0 10px
      .italic
        font-style: italic
      .smaller
        opacity: 0.6
    .floated-right
      width: 46px
      height: 46px
      svg
        width: 100%
        height: 100%
        fill: $green

  .mobile

    .secondary-title
      margin: 2em 0
    .terminal-link-mobile
      box-shadow: 0 2px 5px rgba(0,0,0,0.2)
      margin: 1.5em 0
      .floated
        position: relative
        height: 70px
        &:first-child
          width: 70px
        &:nth-child(2)
          width: calc(100% - 70px)
          background: $blueGrey50
          padding: 1em 1.5em
      .larger
        text-transform: uppercase
        +medium

  .terminal-main-info-wrapper
    padding: 1em 0

  .terminal-info-container
    background: $blueGrey50
    margin-bottom: 20px
    .img-container
      padding-bottom: 56%
      @media #{$medium-only}
        display: none
    .info-block
      position: relative
      padding: 1em 1em 1.5em 3em
      @media #{$medium-only}
        float: left
        width: calc(100%/3)
      .icon
        position: absolute
        top: 1em
        left: 1em
        width: 16px
        height: 16px
        svg
          fill: $green
          width: 100%
          height: 100%
      .regular-medium
        span
          font-size: 0.5em
          vertical-align: super
    .small
      +medium
      color: $blueGrey300
    .day, .hours
      font-size: 1.125em
      +bold
      color: $blueGrey900
      padding-right: 0.5em
      line-height: 1
      &.day-off
        color: $blueGrey300
      span
        font-size: 0.5em
        vertical-align: super
    .georgia-italic
      line-height: 1.25
    .manager
      color: $green
      +bold
    .phone
      color: $blueGrey900
      +medium
  .map-details
    padding-top: 2em
    float: left
    @media #{$small-only}
      display: none
    li
      margin: 20px 0
      .color
        display: inline-block
        width: 28px
        height: 28px
        border-radius: 2px
        vertical-align: middle


.scheme-title
  color: $blueGrey800
  text-transform: uppercase
  +bold

.shop
  position: relative
  padding-left: 30px
  border-bottom: 1px solid $blueGrey100
  &:before
    content: attr(data-number) "."
    display: block
    position: absolute
    top: 16px
    left: 0
    color: $blueGrey400
.accordion-button
  padding: 16px 0
  text-transform: uppercase
  cursor: pointer
  margin: 1px 0
  +medium
  .arrow-dropdown
    svg
      fill: $green
  &.opened
    border-bottom: 1px solid transparent
    margin: 0
.accordion-inner
  padding: 0 1.125em 1.125em
  width: 100%
  z-index: 1
  .georgia-italic
    color: $green
  a.smaller
    position: relative
    color: $blueGrey800
    +medium
    padding-left: 30px
    margin: 10px 0
    svg
      position: absolute
      top: 0
      left: 0
      fill: $green
      width: 20px
      height: 20px
    &:hover
      color: $green

.scheme-container
  overflow: hidden
  @media #{$small-only}
    display: none
  svg
    .pavilion
      cursor: pointer
      fill: #B0BEC5



    .signatures
      pointer-events: none

.scheme-plastic
  width: 100%
  height: auto
  // padding-bottom: 60%
  cursor: -webkit-grab
  cursor: grab
  overflow: hidden
  svg
    // position: absolute
    top: 0
    left: 0
  @media #{$xlarge-up}
    padding-bottom: 60%
    svg
      position: absolute
      min-width: 1800px
      min-height: 1800px


.terminal
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  background: $blueGrey50
  box-shadow: 0 2px 5px rgba(0,0,0,0.4)
  margin-bottom: 20px
  @media #{$xxlarge-up}
    margin-bottom: 30px
  .img-container
    width: 25%
    overflow: hidden
    &:before
      content: ''
      display: block
      padding-bottom: 100%
    .img-background
      +transition(0.5s)
  .text
    flex-grow: 1
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .large
      text-transform: uppercase
      +medium
  &:hover
    background: $green
    .img-background
      +scale(1.05)
    .large, .georgia-italic
      color: white

.empty
  background: #B0BEC5

//   Ф Р У К Т И   Т А   О В О Ч І

//   соління
.pickles
  background: #9CCC65
  fill: #9CCC65 !important
//   сухофрукти
.dried
  background: #FFA726
  fill: #FFA726 !important
//   гриби
.mushrooms
  background: #8D6E63
  fill: #8D6E63 !important
//   заморожені фрукти та овочі
.frozen-fruits-and-vegetables
  background: #26C6DA
  fill: #26C6DA !important
//   зелень
.greens
  background: #C6FF00
  fill: #C6FF00 !important
//   свіжі овочі та фрукти
.fresh-fruits-and-vegetables
  background: #EF5350
  fill: #EF5350 !important

//   Р И Б А

//   риба жива охолоджена
.frozen-fish
  background: #00B0FF
  fill: #00B0FF !important
//   риба в асортименті
.fresh-fish
  background: #1DE9B6
  fill: #1DE9B6 !important

//   К О В Б А С И   Т А   К О П Ч Е Н О С Т І

//   ковбаси та копченості
.sausages
  background: #FFA726
  fill: #FFA726 !important
//   молочні продукти
.milk
  background: #42A5F5
  fill: #42A5F5 !important

//   С В І Ж Е   М ' Я С О

//   свинина та яловичина
.pork-and-beef
  background: #F44336
  fill: #F44336 !important
//   курятина
.chicken
  background: #FFA726
  fill: #FFA726 !important

//   Б А К А Л І Я

//   бакалія
.grocery
  background: #76FF03
  fill: #76FF03 !important
//   кава та чай
.coffee-tea
  background: #795548
  fill: #795548 !important
//   побутова хімія
.household-chemicals
  background: #2979FF
  fill: #2979FF !important
//   промислові товари
.industrial-products
  background: #7E57C2
  fill: #7E57C2 !important
//   солодощі
.lollipops
  background: #EC407A
  fill: #EC407A !important
//   алкоголь та тютюнові вироби
.alcohol-tobacco
  background: #8D6E63
  fill: #8D6E63 !important
//   посуд та упаковка
.tableware-and-packaging
  background: #5C6BC0
  fill: #5C6BC0 !important
//   інтернет-магазин
.internet-shop
  background: #FF3D00
  fill: #FF3D00 !important
//   яйця
.eggs
  background: #FFEA00
  fill: #FFEA00 !important
//   іграшки
.toys
  background: #26A69A
  fill: #26A69A !important

// КВІТИ ТА СУПУТНІ ТОВАРИ

//   живі квіти
.flowers
  background: #9CCC65
  fill: #9CCC65 !important
//   штучні квіти та декори
.artificial-flowers
  background: #7E57C2
  fill: #7E57C2 !important
//   насіння та засоби догляду
.seed-and-care
  background: #C6FF00
  fill: #C6FF00 !important
//   аксесуари та декори
.accessories-and-decor
  background: #FFA726
  fill: #FFA726 !important