.scheme-wrapper
  margin: 2em 0
  border: 1px solid $blueGrey100
  padding: 2em
  @media #{$small-only}
    padding: 0
    border: 0
  .desktop
    @media #{$small-only}
      display: none
  .mobile
    @media #{$medium-up}
      display: none
  .secondary-title
    text-align: left

  .block-title
    color: $blueGrey300
    font-size: 12px
    text-transform: uppercase
    margin-top: 3em

  .terminal-link
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 1em 0
    .terminal-icon
      width: 40px
      height: 40px
      box-shadow: 0 2px 5px rgba(0,0,0,0.3)
    .smaller-medium
      color: $blueGrey800
      line-height: 1.25
      margin-left: 1em
      +transition(0.2s)
  a.terminal-link
    &:hover
      .smaller-medium
        color: $green

  .scheme-container
    position: relative
    width: 100%
    svg
      width: 100%
      height: auto
      .link
        cursor: pointer
        .hover-block
          opacity: 0
          +transition(0.1s)
        &:hover
          .hover-block
            opacity: 1
    @media #{$small-only}
      margin-top: 1em

  .float-left
    @media #{$large-up}
      float: left !important
  .float-right
    @media #{$large-up}
      float: right !important

  .mobile
    .download-pdf
      border: 1px solid $blueGrey100
      padding: 1em
      margin-top: 1em
      .floated
        +georgia
        font-size: 1.125em
        font-style: italic
        float: left
      .floated-right
        float: right
      .regular
        clear: both
        margin-top: 1em
    .secondary-title
      margin: 2em 0
    .terminal-link-mobile
      box-shadow: 0 2px 5px rgba(0,0,0,0.2)
      margin: 1.5em 0
      .floated
        position: relative
        height: 70px
        &:first-child
          width: 70px
        &:nth-child(2)
          width: calc(100% - 70px)
          background: $blueGrey50
          padding: 1em 1.5em
      .larger
        text-transform: uppercase
        +medium

  .terminal-main-info-wrapper
    padding: 1em 0

  .terminal-info-container
    background: $blueGrey50
    .img-container
      padding-bottom: 56%
    .info-block
      position: relative
      padding: 1em 1em 1.5em 3em
      .icon
        position: absolute
        top: 1em
        left: 1em
        width: 16px
        height: 16px
        svg
          fill: $green
          width: 100%
          height: 100%
    .small
      +medium
      color: $blueGrey300
    .day, .hours
      font-size: 1.125em
      +bold
      color: $blueGrey900
      padding-right: 0.5em
      line-height: 1
      &.day-off
        color: $blueGrey300
      span
        font-size: 0.5em
        vertical-align: super
    .georgia-italic
      line-height: 1.25
    .manager
      color: $green
      +bold
    .phone
      color: $blueGrey900
      +medium
  .map-details
    padding-top: 2em
    li
      margin: 20px 0
      .empty, .rented
        display: inline-block
        width: 28px
        height: 28px
        border-radius: 2px
        vertical-align: middle

      .empty
        background: $green300

      //   Ф Р У К Т И   Т А   О В О Ч І

      //   соління
      .pickles
        background: #9CCC65
      //   сухофрукти
      .dried
        background: #FFA726
      //   гриби
      .mushrooms
        background: #8D6E63
      //   заморожені фрукти та овочі
      .frozen-fruits-and-vegetables
        background: #26C6DA
      //   зелень
      .greens
        background: #C6FF00
      //   свіжі овочі та фрукти
      .fresh-fruits-and-vegetables
        background: #EF5350

      //   Р И Б А

      //   риба жива охолоджена
      .frozen-fish
        background: #000
      //   риба в асортименті
      .fresh-fish
        background: #000

      //   К О В Б А С И   Т А   К О П Ч Е Н О С Т І

      //   ковбаси та копченості
      .sausages
        background: #000
      //   молочні продукти
      .milk
        background: #000

      //   С В І Ж Е   М ' Я С О

      //   свинина та яловичина
      .pork-and-beef
        background: #000
      //   курятина
      .chicken
        background: #000

      //   Б А К А Л І Я

      //   бакалія
      .grocery
        background: #000
      //   кава та чай
      .coffee-tea
        background: #000
      //   побутова хімія
      .household-chemicals
        background: #000
      //   промислові товари
      .industrial-products
        background: #000
      //   солодощі
      .lollipops
        background: #000
      //   алкоголь та тютюнові вироби
      .alcohol-tobacco
        background: #000
      //   посуд та упаковка
      .tableware-and-packaging
        background: #000
      //   інтернет-магазин
      .internet-shop
        background: #000
      //   яйця
      .eggs
        background: #000
      .toys
      //   іграшки
        background: #000

      // КВІТИ ТА СУПУТНІ ТОВАРИ

      //   живі квіти
      .flowers
        background: #000
      //   штучні квіти та декори
      .artificial-flowers
        background: #000
      //   насіння та засоби догляду
      .seed-and-care
        background: #000
      //   аксесуари та декори
      .accessories-and-decor
        background: #000



.scheme-title
  color: $blueGrey800
  text-transform: uppercase
  +bold

.shop
  position: relative
  padding-left: 30px
  border-bottom: 1px solid $blueGrey100
  &:before
    content: attr(data-number) "."
    display: block
    position: absolute
    top: 16px
    left: 0
    color: $blueGrey400
.accordion-button
  padding: 16px 0
  text-transform: uppercase
  cursor: pointer
  margin: 1px 0
  +medium
  .arrow-dropdown
    svg
      fill: $green
  &.opened
    border-bottom: 1px solid transparent
    margin: 0
.accordion-inner
  padding: 0 1.125em 1.125em
  width: 100%
  z-index: 1
  .georgia-italic
    color: $green
  a.smaller
    position: relative
    color: $blueGrey800
    +medium
    padding-left: 30px
    margin: 10px 0
    svg
      position: absolute
      top: 0
      left: 0
      fill: $green
      width: 20px
      height: 20px
    &:hover
      color: $green

.scheme-container
  overflow: hidden
  svg
    .pavilion
      cursor: pointer
      fill: $green300
    .rented
      fill: $blue300

    .signatures
      pointer-events: none




.scheme-plastic
  width: 100%
  height: auto
  padding-bottom: 60%
  cursor: -webkit-grab
  cursor: grab
  overflow: hidden
  svg
    position: absolute
    top: 0
    left: 0
    min-width: 1800px
    min-height: 1800px
